* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    margin-block-start: 0;
    margin-block-end: 0;
}

.container {
    margin: 0 auto;
    max-width: 1600px;
    min-height: 100vh;
    background: #2A2B30;
    background-image: url("../img/bg_circle.png"), url("../img/bg_bubble.png");
    background-repeat: no-repeat, no-repeat;
    background-position: top left, bottom right;
}

.header {
    display: flex;
    justify-content: space-between;
}

.main_logo {
    background-image: url("../img/main_logo.png");
    background-size: cover;
    width: 672px;
    height: 489px;
}

.left_text_box {
    margin-top: 123px;
    margin-left: 48px;
    max-width: 544px;
}

.header_text {
    font-size: 48px;
    color: #FFFFFF;
    font-weight: 700;
    line-height: 1.3;
}

.header_text_small {
    display: block;
    font-weight: 600;
    color: #FFFFFF;
    margin-top: 16px;
    font-size: 16px;
    line-height: 1.5;
}

.main {
    display: flex;
    justify-content: space-between;
    margin-top: 121px;
    margin-left: 48px;
    margin-right: 48px;
}

.info_item {
    max-width: 304px;
}

.figure_box_1, .figure_box_2, .figure_box_3, .figure_box_4 {
    width: 64px;
    height: 64px;
    background-color: #FFDD3C;
    border-radius: 8px;
    background-repeat: no-repeat;
    background-position: center;
}

.figure_box_1 {
    background-image: url("../img/star.png");
}

.figure_box_2 {
    background-image: url("../img/clock.png");
}

.figure_box_3 {
    background-image: url("../img/cup.png");
}

.figure_box_4 {
    background-image: url("../img/gift.png");
}

.info_item_header_text {
    font-weight: 700;
    font-size: 20px;
    color: #FFFFFF;
    line-height: 1.5;
    margin-top: 24px;
    margin-bottom: 16px;
}

.info_item_text {
    font-weight: 600;
    font-size: 16px;
    color: #FFFFFF;
    line-height: 1.5;
}

.additional_info_box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 48px;
}

.additional_info_box_text {
    margin-top: 100px;
    max-width: 544px;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.5;
    color: #FFFFFF;
}

.button {
    width: 442px;
    height: 48px;
    background-color: #FFDD3C;
    border-radius: 8px;
    margin-top: 24px;
    display: flex;
    align-items: center;
}

.button:hover .button_arrow_img {
    transform: translateX(8px);
    transition: all 0.5s;
}

.button_arrow_img {
    transition: all 0.5s;
}

.button_text {
    margin-left: 64px;
    margin-right: 11px;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.3;
    color: #2A2B30;
}

.footer {
    margin-top: 54px;
    margin-left: 48px;
    padding-bottom: 75px;
    padding-left: 2px;
}

.like_box {

    display: flex;
    align-items: center;
}

.like_box:hover {
    cursor: pointer;
}

.like_box:hover .like_img {
    transform: scale(1.2);
    transition: 0.5s;
}

.like_img {
    transition: 0.5s;
    margin-left: 5px;
    margin-right: 21px;
}

.like_text {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    color: #D1D4D7;
}


@media (max-width: 1359px) {

    .container {
        max-width: 1359px;
        background-image: url("../img/bg_circle_2.png"), url("../img/bg_bubble_2.png");
    }

    .main_logo {
        background-image: url("../img/main_logo_2.png");
        width: 504px;
        height: 438px;
    }

    .left_text_box {
        max-width: 464px;
        margin-top: 120px;
        margin-left: 40px;
    }

    .info_item {
        max-width: 224px;
    }

    .figure_box_1 {
        background-image: url("../img/star2.png");
    }

    .figure_box_2 {
        background-image: url("../img/lightning2.png");
    }

    .figure_box_3 {
        background-image: url("../img/clock.png");
        background-size: 26px 26px;
    }

    .figure_box_4 {
        background-image: url("../img/heart.png");
    }
}

@media (max-width: 1023px) {

    .container {
        max-width: 1023px;
        background-image: url("../img/bg_circle_3.png"), url("../img/bg_bubble_3.png");
    }

    .main_logo {
        background-image: url("../img/main_logo_3.png");
        width: 304px;
        height: 289px;
    }

    .left_text_box {
        max-width: 330px;
        margin-top: 80px;
    }

    .header_text {
        font-size: 24px;
        line-height: 1.2;
    }

    .header_text_small {
        font-weight: 500;
        font-size: 14px;
    }

    .figure_box_1, .figure_box_2, .figure_box_3, .figure_box_4 {
        width: 48px;
        height: 48px;
    }

    .info_item {
        max-width: 247px;
    }

    .figure_box_1 {
        background-image: url("../img/star3.png");
    }

    .figure_box_2 {
        background-image: url("../img/lightning3.png");
    }

    .figure_box_3 {
        background-image: url("../img/clock.png");
        background-size: 18px 18px;
    }

    .figure_box_4 {
        background-image: url("../img/heart3.png");
    }

    .main {
        max-width: 731px;
        flex-wrap: wrap;
        margin-top: 18px;
        margin-right: 129px;
    }

    .info_item {
        margin-top: 38px;
    }

    .additional_info_box_text {
        margin-top: 56px;
        max-width: 337px;
        font-size: 18px;
    }

    .button_text {
        font-size: 18px;
        line-height: 1.3;
    }

    .button {
        width: 415px;
    }

    .footer {
        margin-top: 36px;
        padding-bottom: 45px;
        margin-left: 40px;
        padding-left: 4px;
    }
}

@media (max-width: 767px) {

    .container {
        margin: 0 auto;
        max-width: 320px;
        background-image: url("../img/bg_circle_4.png"), url("../img/bg_bubble_4.png");
    }

    .main_logo {
        background-image: url("../img/main_logo_4.png");
        background-size: contain;
        max-width: 320px;
        height: 179px;
    }

    header {
        flex-direction: column;
        flex-flow: wrap-reverse;
    }

    .main {
        margin: 40px 0 0 0;
    }

    .left_text_box {
        margin: 16px 16px 0 16px;
        max-width: 270px;
    }

    .info_item {
        margin: 16px;
        max-width: 288px;
    }

    .info_item_header_text {
        font-size: 16px;
        margin-top: 16px;
        margin-bottom: 16px;
    }

    .info_item_text {
        font-weight: 500;
        font-size: 14px;
    }

    .additional_info_box {
        margin: 24px 16px 0 16px;
    }

    .additional_info_box_text {
        margin: 0;
        max-width: 288px;
        font-size: 16px;
        word-wrap: break-word;
    }

    .button {
        max-width: 288px;
    }

    .button_text {
        margin-left: 34px;
        font-size: 16px;
    }

    .button_arrow_img {
        display: none;
    }

    .footer {
        margin-top: 36px;
        margin-left: 16px;
        padding-bottom: 42px;
        padding-left: 2px;
    }
}